<div class="bg-footer text-white mt-sm-0">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex gap-2 align-items-center mb-2 link-body-emphasis text-decoration-none">
          <img src="/images/general/book-open.png" alt="product logo">
          <span class="h1 montserrat-extra-bold mb-0 text-white">Narrativ</span>
        </a>
        <p class="text-white">© <%= new Date().getFullYear() %></p>
      </div>
  
      <div class="col mb-3">
        <!--  -->
      </div>
  
      <div class="col mb-3">
        <h5>Contact</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contact Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">FAQ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Advertise</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>About</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Our Story</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Terms of Use</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Privacy Policy</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5>Connect</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Twitter</a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>