<div class="container d-flex justify-content-center align-items-center min-vh-100 col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="image-hero col-10 col-sm-8 col-lg-6">
      <img src="/images/home/side-image-no-post.jpg" class="d-block mx-lg-auto img-fluid rounded-4" alt="making blog" loading="lazy">
    </div>

    <div class="col-lg-6">
      <h1 class="display-5 montserrat-bold fw-bold lh-1 mb-4">Ready to Share Your First Story?</h1>

      <p class="lead open-sans-regular mb-5">
        Your journey as a writer starts here! We're excited to see what you'll create.
      </p>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <form action="/posts/new" method="get">
          <button type="submit" id="create-your-first-post" class="btn bg-home-button home-button-text btn-lg rounded-5 px-4 me-md-2 open-sans-bold">
            Create your first post
            <i class="fa fa-chevron-right home-button-chevron ms-sm-3 ms-2"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>